html, body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-left:-0.1%;
}

h1{
  text-align: center;
  color: white;
  padding-bottom : 0.5em;
  margin-top: -60%;
  margin-bottom: 55%;
  font-size: 6vw;
}

ul{
  list-style-type: none;
  overflow: hidden;
  padding: 0.5em;
  text-align: center;
  margin-right:5%;
  padding-top:2.5%;
  padding-bottom:2%;
}
li{
  display: inline;
}
li a{
  text-decoration: none;
  color: black;
  font-size: 2vw;
  padding: 1em;
}
li a:hover{
  color: #e4c1f9;
}

h2{
  color: black;
  font-size: 4vw;
  font-weight: bold;
  line-height: 2;
  margin-right: 20%;
  margin-left:20%;
}

p{
  line-height: 2.5;
  font-size: 1.5vw;
  color: #6d6875;
  margin-right: 10%;
  margin-left:10%;
}
.big{
  padding-top:-5%;
  width: 100%;
  max-width: 100%;
  height:50%;
}
.big1{
  width: 100%;
  max-width: 100%;
  height:auto;
  max-height:50%;
}
.big3{
  width:100%;
  max-width:100%;
  height:auto;
}
.w{
  color:white;
  margin-bottom:40%;
  padding-top:15%;
  font-size:6vw;
  text-shadow: 3px 3px #000000;
}
.b{
  color:black;
  font-size:6vw;
  text-shadow: 3px 3px #e4c1f9;
  padding-top:65%;
  margin-bottom:-2%;
}

.firstStep{
  padding-top:2%;
  padding-bottom: 4%;
  border-radius: 10%;
  background-color:#f8ad9d;
  margin-top:5%;
  margin-right:20%;
  margin-left:20%;
  margin-bottom:5%;
}
.secondStep{
  padding-top:2%;
  padding-bottom: 4%;
  border-radius: 10%;
  background-color:#fbc4ab;
  margin-right:20%;
  margin-left:20%;
}
.bla{
  margin-top:-4%;
  color:black;
}

#topic1{
  margin-top:-7%;
  width:100%;
  max-width:50%;
  max-height:50%;
  height:50%;
  float:left;
}
.t1{
  padding-top:2%;
  padding-bottom:4%;
  margin-left:55%;
  margin-right:5%;
  margin-top:-22%;
  font-size:2vw;
}

.t1 a{
  text-decoration: none;
  color: black;
}
.t1 a:hover{
  color: #e4c1f9;
}
#topic2{
  width:100%;
  max-width:50%;
  max-height:20%;
  height:50%;
  float:right;
}
.t2{
  padding-top:2%;
  padding-bottom:2%;
  margin-right:55%;
  margin-left:5%;
  font-size:2vw;  
}
.t2 a{
  text-decoration: none;
  color: black;
}
.t2 a:hover{
  color: #e4c1f9;
}
.o{
  margin-top:-39%;
  font-size:2vw;
  margin-right:20%;
  margin-left:20%;
}

.tab1{
  padding-top:15%;
  margin-left:45%;
  margin-right:10%;
  font-size:2vw;  
}
#logo{
  float: left;
  padding-bottom: 2%;
  padding-left:5%;
  width: 10%;
  max-width: 10%;
  height:auto;
}

#table1{
  margin-top:-28%;
  margin-right:45%;
  margin-left:10%;
  float:left;
  width: 30%;
  height: auto;
}

.google1 a{
  text-decoration: underline;
  color: black;
}
.google1 a:hover{
  color: #e4c1f9;
}
.google a{
  text-decoration: none;
  color: black;
  background-color: #ffe3e0;
  border: 1px solid black;
  border-radius: 0%;
  padding-top:2%;
  padding-bottom:2%;
  padding-right: 2%;
  padding-left:2%;
}
.google a:hover{
  color: #e4c1f9;
}


.blackh1{
  color:black;
  margin-top:-15%;
  padding-top:-5%;
  margin-bottom:-9%;
  padding-bottom:10%;
}

#help{
  margin-bottom:20%;
  margin-top:-45%;
  width: 100%;
  max-width: 100%;
  height:auto;
}

.but{
  margin-top:1%;
}
.inv{
  font-weight:normal;
}
.list{
    display: block;
  
}
.list a{
  line-height: 2.5;
  font-size: 2vw;
  color: #6d6875;
}
.un{
  text-align: center;
  margin-right:30%;
  margin-left:30%;
  margin-top: -2%;
  line-height: 2.5;
  font-size: 2.5vw;
  color: #6d6875;
   list-style-type: square;
}

.info{
  line-height: 2.5;
  font-size:1.5vw;
  margin-right: 10%;
  margin-left:10%;
}
.questions{
  border: 1.5px solid #6d6875;
  padding-top:2%;
  padding-bottom:2%;
}

#buttonClicked{
  margin-top:2%;
  margin-bottom:-50%;
  font-family: "Poppins", sans-serif;
  
}
.f2{
  width: 100%;
  max-width: 100%;
  height:auto;
  margin-top:-42%;
  }
#ff1{
  margin-top:-25%;
  margin-left:50%;
  text-shadow: 4px 4px #000000;
}
#ff2{
  margin-top:-32%;
  margin-right:50%;
  margin-left:-4%;
  margin-bottom:30%;
  text-shadow: 4px 4px #000000;
}
.f1{
  width: 100%;
  max-width: 100%;
  height:auto;
  margin-top:-44%;
}
h3{
  font-size:2vw;
}

input[type="text"] {
  width: 30%;
  max-width: 20%;
}
.bigger{
  font-size:2vw;
}
.cbig{
  width: 100%;
  max-width: 100%;
  height:auto;
  padding-top:5%;
}
.contact{
  margin-top: -20vw;
  margin-bottom:-0.5vw;
  color: black;
  font-size:2vw;
}
.right{
  float:right;
  margin-right:10%;
  width: 100%;
  max-width: 20%;
  height:auto;

}
.left{
  float:left;
  margin-left:10%;
  width: 100%;
  max-width: 20%;
  height:auto;

}
.right1{
  float:right;
  margin-right:29%;
  margin-left:1%;
  width: 100%;
  max-width: 20%;
  height:auto;
  padding-bottom:2%;

}
.left1{
  float:left;
  margin-left:29%;
  margin-right:1%;
  width: 100%;
  max-width: 20%;
  height:auto;
  padding-bottom:2%;

}
.center{
  width: 100%;
  max-width: 38.5%;
  height:auto;
  padding-bottom:1%;

}
.one{
  width:100%;
  max-width:20%;
  height:auto;
  margin-bottom:2%;
  float:center;
}
.herName{
  text-shadow: 2px 2px #e4c1f9;
  text-decoration-thickness: 25%;
  margin-bottom:-1.5%;
  margin-top:1%;
}
.noPic{
  margin-top:1%;
}
#story{
  padding-top:1.8%;
}
#story2{
  padding-top:2%;
}
#story3{
  padding-top:2%;
}
#story4{
  padding-top:2%;
}
#story5{
  padding-top:2%;
}
#story6{
  padding-top:2%;
}
#story7{
  padding-top:2%;
}
#story8{
  padding-top:2%;
}
#story9{
  padding-top:2%;
}
#story10{
  padding-top:2%;
}
#story11{
  padding-top:2%;
}
